snippet media "@media"
@media ($1) {
  $0
}
endsnippet

snippet media.max-width "@media with max-width"
@media (max-width: $1) {
  $0
}
endsnippet

snippet media.min-width "@media with min-width"
@media (min-width: $1) {
  $0
}
endsnippet
